extends ../layouts/LayoutTheme
include ../mixins/home/saas/SaasStatsticsCards
include ../mixins/home/saas/CandleChart

prepend scripts
  script(src=`./assets/js/echarts.js`)
  script(src=`./assets/js/saas.js`)

append variables
  - var pageTree = ['dashboard','dashboard','saas']

append content
  .row.g-3
    .col
      +SaasStatsticsCards

  .row.g-3.mb-3
    .col-xxl-9
      .row.g-3
        .col-12
          +CandleChart